body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(rgb(2, 174, 204), white) no-repeat;

}
.header {
    text-align: center;
    padding-top: 220px;
    padding-bottom: 60px;
    text-decoration: underline;
}

.topnav {
    margin: auto;
    border: 3px solid rgba(0, 217, 255, 0.877);
    padding: 5px;
    width: 35%;
    background-color: white;
}

.topnav input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: none;
    width: 80%;
    margin: auto;
  }
  
  .topnav .search-container button {
    padding: 10px;
    margin-right: auto;
    background: #ddd;
    font-size: 11px;
    cursor: pointer;
    width: 40px;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }