body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cambria;
    background: linear-gradient(rgb(76, 7, 236), white) no-repeat;

}
.header {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 1px;
    text-decoration: underline;
}
.subtitle {
  text-align: center;
  padding-top: .5px;
  padding-bottom: 20px;
}

.topnav {
    margin: auto;
    border: 3px solid rgb(138, 5, 116);
    padding: 5px;
    width: 35%;
    background-color: white;
}

.topnav input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: none;
    width: 85%;
    margin: auto;
  }
  
  .topnav .search-container button {
    padding: 10px;
    margin-right: auto;
    background: #ddd;
    font-size: 11px;
    cursor: pointer;
    width: 50px;
  }
  
  .topnav .search-container button:hover {
    background: rgb(112, 83, 110);
  }